body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

header {
    padding: 4vh 0;
    background: #F27204;
    color: #fff;
    width: 100vw;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

.intro {
    padding-top: 2em;
    padding-bottom: 2em;
    background: #C099C9;
    color: #000;
    width: 100vw;
}

#origin-text {
    padding-left: 2em;
    padding-right: 2em;
}

#origin-text p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1.5em;
    background: #E5E5E5;
    color: #000;
    font-size: 1em;
    font-weight: 400;
}

#clock {
    width: auto;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

#reset-button {
    text-align: center;
}

#test-wrapper {
    border: dashed;
}

.form-rounded {
    border-top-right-radius: 1rem;
    border-width: 5px;
    border-style: double;
}